@use "sass:color";

$z-index-map: (
  background: 1,
  default: 2,
  focus: 3,
  form-input-group-symbol: 4,
  header: 5,
  sidebar-close-overlay: 6,
  sidebar: 7,
  combobox: 8,
  combobox-suggestions: 9,
);

$value-map: (
  base-font-size: 16px,
  font-family-base: #{'Montserrat', sans-serif},
  font-family-mono: #{'Source Code Pro', 'Consolas', monospace},
  bg-gradient-opacity: .5,
  bg-gradient-start-position: 0%,
  bg-gradient-mid-position: 50%,
  bg-gradient-end-position: 100%,
  bg-gradient-angle: 15deg,
  header-height: 3.25rem,
  header-spacing-horizontal: .625rem,
  header-spacing-vertical: .625rem,
  header-border: 0.0625rem,
  header-brand-font-size: 1.25rem,
  content-spacing: 1rem,
  content-container-max-width: 1080px,
  content-heading-2: 1.6em,
  content-heading-3: 1.4em,
  content-heading-4: 1.25em,
  content-heading-margin-bottom: .25em,
  button-padding-horizontal: (
    default: .4rem,
    md: .5rem,
    lg: .6rem,
  ),
  button-padding-vertical: (
    default: .25rem,
    md: .35rem,
    lg: .4rem,
  ),
  button-border-width: .0625rem,
  button-shadow-size: .125rem,
  button-border-radius: .25rem,
  button-font-size: (
    default: .875rem,
    md: .95rem,
    lg: 1rem,
  ),
  button-content-gap: .3rem,
  button-group-gap: .35rem,
  card-padding: 1rem,
  card-border-radius: 0.25rem,
  card-spacing: .5rem,
  alert-spacing: 1rem,
  alert-border-radius: .5rem,
  sidebar-spacing: .5rem,
  sidebar-max-width: (
    default: 25rem,
    xl: 28rem,
  ),
  sidebar-border: .0625rem,
  sidebar-divider-border: .0625rem,
  sidebar-default-open-min-width: 1024px,
  sidebar-section-spacing: .625rem,
  sidebar-section-heading-font: 1.375rem,
  sidebar-dev-credit-font-size: 1.25rem,
  sidebar-dev-credit-line-height: 1.55,
  sidebar-translation-credits-gap: 0.5em,
  popup-border: .125rem,
  popup-box-shadow: 1rem,
  input-field-padding: (
    default: .4rem,
    lg: .5rem,
    xl: .75rem,
  ),
  input-field-border: .0625rem,
  input-field-border-radius: .25rem,
  input-field-box-shadow-inset-y: .05rem,
  input-field-box-shadow: .15rem,
  form-control-spacing: .5rem,
  focus-outline: .2em,
  language-selector-spacing: (
    default: .5em,
    md: .6em,
    lg: .7em,
  ),
  user-info-spacing: .5em,
  collapsible-padding: .35em,
  collapsible-border-radius: .5em,
  form-checkbox-width: 1em,
  form-checkbox-height: 1em,
  form-checkbox-border: .0625em,
  form-checkbox-border-radius: .25em,
  form-radio-select-icon: 65%,
  form-select-icon-size: 1em,
  form-select-icon-padding: .25em,
  profile-user-info-spacing: .5em,
  profile-user-info-image-border-radius: 50%,
  profile-user-info-image-size: 2rem,
  profile-user-info-name-font-size: 1.25rem,
  table-cell-spacing: .5em,
  table-border-size: .0625em,
  code-border: .0625em,
  code-padding-vertical: .15em,
  code-padding-horizontal: .5em,
  code-border-radius: .3em,
  code-line-height: 1.5em,
  code-small-font-size: .75em,
  progress-bar-height: .75em,
  loading-indicator-full-revolution-time: 5s,
  useful-link-padding: .25rem,
  useful-link-spacing: .5rem,
  useful-link-desc-font-size: .875rem,
  useful-link-desc-line-height: 1.55,
  badge-border: .1rem,
  badge-border-radius: .5rem,
  badge-padding-horozontal: .3rem,
  badge-spacing: .2rem,
  badge-grooup-spacing: .3rem,
  badge-font-size: .9rem,
  bot-shards-display-font-size: 0.75rem,
  bot-shard-spacing: .5em,
  bot-shard-tick-height: 2em,
  bot-shard-tick-gap: .25em,
  bot-shard-tick-border-radius: .25em,
  bot-usage-graph-width: 200px,
  bot-usage-graph-height: 100px,
  bot-usage-graph-line-gap: 2px,
  bot-usage-graph-line-min-width: 2px,
  bot-usage-graph-tooltip-padding: .25rem,
  bot-usage-graph-tooltip-usage-font-size: 1.5rem,
  bot-usage-graph-tooltip-date-font-size: .75rem,
  nav-spacing: .15rem,
  nav-link-border-radius: .25rem,
  nav-link-padding-horizontal: (
    default: .4rem,
    md: .5rem,
    lg: .6rem,
  ),
  nav-link-padding-vertical: (
    default: .3rem,
    md: .4rem,
    lg: .5rem,
  ),
  time-picker-max-width: 260px,
);

$_text-color-light: #313131;
$_text-color-dark: #C1C2C5;
$_base-blue: #5865f2;
$_button-primary-bg-dark: $_base-blue;
$_button-primary-bg-light: color.adjust($_button-primary-bg-dark, $lightness: 22%);
$_bg-gradient-start: #585ef2;
$_bg-gradient-mid: $_base-blue;
$_bg-gradient-end: #a55ea5;
$_badge-base-color-light: hsl(219, 50%, 25%);
$_badge-base-color-dark: hsl(219, 50%, 80%);
$_badge_muted_lightness_adjust: 15%;
$_badge-green-hue: -60;
$_badge-cyan-hue: -25;
$_badge-purple-hue: 50;
$_badge-red-hue: 120;
$_dark_theme_color: #222;
$_light_theme_color: #eee;

$color-map: (
  layout-bg: (
    light: #bbb,
    dark: #000
  ),
  layout-color: (
    light: $_text-color-light,
    dark: $_text-color-dark,
  ),
  bg-gradient-start: (
    light: $_bg-gradient-start,
    dark: $_bg-gradient-start,
  ),
  bg-gradient-mid: (
    light: $_bg-gradient-mid,
    dark: $_bg-gradient-mid,
  ),
  bg-gradient-end: (
    light: $_bg-gradient-end,
    dark: $_bg-gradient-end,
  ),
  header-bg: (
    light: color.adjust($_base-blue, $lightness: 27%, $saturation: -10%),
    dark: #1A1B1E
  ),
  header-border: (
    light: color.adjust($_base-blue, $lightness: 20%, $saturation: -10%),
    dark: #2C2E33
  ),
  header-brand: (
    light: color.adjust($_base-blue, $lightness: -5%, $saturation: -15%),
    dark: #909296
  ),
  card-bg: (
    light: color.adjust($_base-blue, $lightness: 30%, $saturation: -10%),
    dark: #1A1B1E
  ),
  card-color: (
    light: $_text-color-light,
    dark: $_text-color-dark,
  ),
  alert-bg: (
    light: rgba(230, 229, 227, .5),
    dark: rgba(20, 21, 23, 0.2),
  ),
  alert-color: (
    light: rgb(62, 61, 58),
    dark: rgb(193, 194, 197),
  ),
  alert-warning-bg: (
    light: rgba(246, 178, 143, 0.2),
    dark: rgba(232, 89, 12, 0.2),
  ),
  alert-warning-color: (
    light: #000,
    dark: rgb(255, 255, 255),
  ),
  alert-warning-hl-color: (
    light: rgb(126, 58, 4),
    dark: #ffd8a8,
  ),
  button-border-color: (
    light: rgba(0, 0, 0, .2),
    dark: rgba(255, 255, 255, .2),
  ),
  button-default-color: (
    light: #000,
    dark: #fff,
  ),
  button-default-bg: (
    light: color.adjust($_base-blue, $lightness: 20%, $saturation: -100%),
    dark: color.adjust($_base-blue, $lightness: -20%, $saturation: -100%),
  ),
  button-default-border-color: (
    light: color.adjust($_base-blue, $lightness: 10%, $saturation: -100%),
    dark: color.adjust($_base-blue, $lightness: -30%, $saturation: -100%),
  ),
  button-primary-color: (
    light: #000,
    dark: #fff,
  ),
  button-primary-bg: (
    light: $_button-primary-bg-light,
    dark: $_button-primary-bg-dark,
  ),
  button-primary-border-color: (
    light: color.adjust($_button-primary-bg-dark, $lightness: 12%, $saturation: -10%),
    dark: color.adjust($_button-primary-bg-dark, $lightness: -10%, $saturation: -10%),
  ),
  button-success-color: (
    light: #000,
    dark: #fff,
  ),
  button-success-bg: (
    light: color.adjust(#559933, $lightness: 22%),
    dark: #559933,
  ),
  button-success-border-color: (
    light: color.adjust(#559933, $lightness: 12%, $saturation: -10%),
    dark: color.adjust(#559933, $lightness: -10%, $saturation: -10%),
  ),
  button-danger-color: (
    light: #000,
    dark: #fff,
  ),
  button-danger-bg: (
    light: color.adjust(#993333, $lightness: 30%),
    dark: #993333,
  ),
  button-danger-border-color: (
    light: color.adjust(#993333, $lightness: 20%, $saturation: -10%),
    dark: color.adjust(#993333, $lightness: -10%, $saturation: -10%),
  ),
  button-warning-color: (
    light: #000,
    dark: #fff,
  ),
  button-warning-bg: (
    light: color.adjust(#997733, $lightness: 30%),
    dark: #997733,
  ),
  button-warning-border-color: (
    light: color.adjust(#997733, $lightness: 20%, $saturation: -10%),
    dark: color.adjust(#997733, $lightness: -10%, $saturation: -10%),
  ),
  button-light-color: (
    light: $_dark_theme_color,
    dark: $_dark_theme_color,
  ),
  button-light-bg: (
    light: $_light_theme_color,
    dark: $_light_theme_color,
  ),
  button-light-border-color: (
    light: #aaa,
    dark: #aaa,
  ),
  button-dark-color: (
    light: $_light_theme_color,
    dark: $_light_theme_color,
  ),
  button-dark-bg: (
    light: $_dark_theme_color,
    dark: $_dark_theme_color,
  ),
  button-dark-border-color: (
    light: #000,
    dark: #000,
  ),
  sidebar-bg: (
    light: color.adjust($_base-blue, $lightness: 30%, $saturation: -10%),
    dark: #1a1b1e,
  ),
  sidebar-border-color: (
    light: color.adjust($_base-blue, $lightness: 20%, $saturation: -10%),
    dark: #2c2e33,
  ),
  sidebar-divider-color: (
    light: color.adjust($_base-blue, $lightness: 15%, $saturation: -10%),
    dark: #373a40,
  ),
  popup-border-color: (
    light: color.adjust($_base-blue, $lightness: 20%, $saturation: -10%),
    dark: #2c2e33,
  ),
  input-field-color: (
    light: #212121,
    dark: #c1c2c5,
  ),
  input-field-bg: (
    light: color.adjust($_base-blue, $lightness: 25%, $saturation: -10%),
    dark: #25262b,
  ),
  input-field-invalid-color: (
    light: #763211,
    dark: #eeaa80,
  ),
  input-field-invalid-bg: (
    light: #fff0ee,
    dark: #44332b,
  ),
  input-field-border-color: (
    light: color.adjust($_base-blue, $lightness: 20%, $saturation: -10%),
    dark: #373a40,
  ),
  input-field-focus-border-color: (
    light: color.adjust($_base-blue, $lightness: 20%),
    dark: $_base-blue,
  ),
  input-field-invalid-focus-border-color: (
    light: #763211,
    dark: #eeaa80,
  ),
  input-field-box-shadow: (
    light: rgba(0, 0, 0, .25),
    dark: rgba(0, 0, 0, .5),
  ),
  calendar-button-selected-bg: (
    light: rgba($_base-blue, .25),
    dark: rgba($_base-blue, .5),
  ),
  collapsible-bg: (
    light: rgba(#000, .25),
    dark: rgba(#000, .5),
  ),
  table-border: (
    light: #6d6e70,
    dark: #373a40,
  ),
  code-color: (
    light: #323339,
    dark: #EFEFF0,
  ),
  code-bg: (
    light: #F5F5FA,
    dark: #1F202F,
  ),
  code-border: (
    light: #D4D3D9,
    dark: #373846,
  ),
  content-link: (
    light: $_base-blue,
    dark: color.adjust($_base-blue, $lightness: 10%),
  ),
  open-source: (
    light: color.adjust(#3da639, $lightness: -15%),
    dark: color.adjust(#3da639, $lightness: 10%),
  ),
  translation-contribution-cta: (
    light: #559933,
    dark: color.adjust(#559933, $lightness: 10%),
  ),
  combobox-highlighted-item-bg: (
    light: color.adjust($_button-primary-bg-light, $saturation: -15%),
    dark: color.adjust($_button-primary-bg-dark, $saturation: -15%),
  ),
  add-app-bg: (
    light: #FFFFFF,
    dark: #323338,
  ),
  add-app-color: (
    light: #313338,
    dark: #DBDEE1,
  ),
  add-app-logo-border: (
    light: rgba(0, 0, 0, 0.08),
    dark: rgba(255, 255, 255, 0.08),
  ),
  add-app-link-bg: (
    light: #F2F3F5,
    dark: #2b2d31,
  ),
  add-app-link-hover-bg: (
    light: #EBEBED,
    dark: #3b3c41,
  ),
  add-app-link-icon: (
    light: #4E5058,
    dark: #b6bac0,
  ),
  add-app-link-title: (
    light: #060607,
    dark: #fff,
  ),
  add-app-link-description: (
    light: #5C5E66,
    dark: #969ba4,
  ),
  badge-default-color: (
    light: color.adjust($_badge-base-color-light, $saturation: -100%),
    dark: color.adjust($_badge-base-color-dark, $saturation: -100%),
  ),
  badge-default-bg: (
    light: color.adjust($_badge-base-color-dark, $saturation: -100%),
    dark: color.adjust($_badge-base-color-light, $saturation: -100%),
  ),
  badge-secondary-bg: (
    light: rgba(255, 255, 255, .2),
    dark: rgba(0, 0, 0, .2),
  ),
  badge-muted-color: (
    light: color.adjust($_badge-base-color-light, $lightness: $_badge_muted_lightness_adjust, $saturation: -100%),
    dark: color.adjust($_badge-base-color-dark, $lightness: $_badge_muted_lightness_adjust, $saturation: -100%),
  ),
  badge-muted-bg: (
    light: color.adjust($_badge-base-color-dark, $lightness: $_badge_muted_lightness_adjust, $saturation: -100%),
    dark: color.adjust($_badge-base-color-light, $lightness: $_badge_muted_lightness_adjust, $saturation: -100%),
  ),
  badge-green-color: (
    light: color.adjust($_badge-base-color-light, $hue: $_badge-green-hue),
    dark: color.adjust($_badge-base-color-dark, $hue: $_badge-green-hue),
  ),
  badge-green-bg: (
    light: color.adjust($_badge-base-color-dark, $hue: $_badge-green-hue),
    dark: color.adjust($_badge-base-color-light, $hue: $_badge-green-hue),
  ),
  badge-blue-color: (
    light: $_badge-base-color-light,
    dark: $_badge-base-color-dark,
  ),
  badge-blue-bg: (
    light: $_badge-base-color-dark,
    dark: $_badge-base-color-light,
  ),
  badge-cyan-color: (
    light: color.adjust($_badge-base-color-light, $hue: $_badge-cyan-hue),
    dark: color.adjust($_badge-base-color-dark, $hue: $_badge-cyan-hue),
  ),
  badge-cyan-bg: (
    light: color.adjust($_badge-base-color-dark, $hue: $_badge-cyan-hue),
    dark: color.adjust($_badge-base-color-light, $hue: $_badge-cyan-hue),
  ),
  badge-purple-color: (
    light: color.adjust($_badge-base-color-light, $hue: $_badge-purple-hue),
    dark: color.adjust($_badge-base-color-dark, $hue: $_badge-purple-hue),
  ),
  badge-purple-bg: (
    light: color.adjust($_badge-base-color-dark, $hue: $_badge-purple-hue),
    dark: color.adjust($_badge-base-color-light, $hue: $_badge-purple-hue),
  ),
  badge-red-color: (
    light: color.adjust($_badge-base-color-light, $hue: $_badge-red-hue),
    dark: color.adjust($_badge-base-color-dark, $hue: $_badge-red-hue),
  ),
  badge-red-bg: (
    light: color.adjust($_badge-base-color-dark, $hue: $_badge-red-hue),
    dark: color.adjust($_badge-base-color-light, $hue: $_badge-red-hue),
  ),
  bot-shard-actvie-color: (
    light: #559933,
    dark: #efe,
  ),
  bot-shard-actvie-bg: (
    light: #efe,
    dark: #559933,
  ),
  bot-shard-inactvie-color: (
    light: color.adjust(#559933, $saturation: -100%),
    dark: color.adjust(#efe, $saturation: -100%),
  ),
  bot-shard-inactvie-bg: (
    light: color.adjust(#efe, $saturation: -100%),
    dark: color.adjust(#559933, $saturation: -100%),
  ),
  bot-usage-graph-line-bg: (
    light: transparent,
    dark: #444,
  ),
  bot-usage-graph-line-color: (
    light: #8af,
    dark: #8af,
  ),
  useful-link-card-bg: (
    light: rgba(0, 0, 0, .06),
    dark: rgba(255, 255, 255, .05),
  ),
  profile-user-info-image-loading-bg: (
    light: rgba(255, 255, 255, .5),
    dark: rgba(0, 0, 0, .5),
  ),
  drop-shadow: (
    light: rgba(255, 255, 255, .5),
    dark: rgba(0, 0, 0, .5),
  )
);

$breakpoints: (
  sm: 400px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1600px,
);

$spacing: (
  0: 0,
  1: .25em,
  2: .5em,
  3: 1em,
  4: 1.75em,
);

$sizing: 10, 15, 20, 100;
