@use "sass:string";
@use "sass:map";
@use "common";

$z-index-var-prefix: 'ht-z-index';

@function app-z-index($key) {
  @if (map.has-key(common.$z-index-map, $key)) {
    // @return map.get(common.$z-index-map, $key);
    @return var(--#{$z-index-var-prefix}-#{$key});
  }

  @return 0;
}

$value-var-prefix: 'ht-value';

@function app-value($key) {
  @if (map.has-key(common.$value-map, $key)) {
    @return var(--#{$value-var-prefix}-#{$key});
  }

  @return 0;
}

$color-var-prefix: 'ht-color';

@function app-color($key) {
  @if (map.has-key(common.$color-map, $key)) {
    $color-data: map.get(common.$color-map, $key);
    $light-color: #FF00FF;
    $dark-color: #FF00FF;
    @if (map.has-key($color-data, 'light')) {
      $light-color: var(--#{$color-var-prefix}-#{$key}-light);
    }
    @if (map.has-key($color-data, 'dark')) {
      $dark-color: var(--#{$color-var-prefix}-#{$key}-dark);
    }

    @return light-dark(#{$light-color}, #{$dark-color});
  }

  @return #FF00FF;
}
