@use "common";
@use "functions";
@use "sass:map";
@use "sass:meta";

@mixin color-variables {
  @each $key, $variants in common.$color-map {
    @each $variant, $value in $variants {
      --#{functions.$color-var-prefix}-#{$key}-#{$variant}: #{$value};
    }
  }
}

@mixin value-variables {
  @each $key, $value in common.$value-map {
    @if meta.type-of($value) == 'map' {
      @if map.has-key($value, default) {
        $value: #{map.get($value, default)};
      }
    }
    --#{functions.$value-var-prefix}-#{$key}: #{$value};
  }
  @each $key, $value in common.$value-map {
    @if meta.type-of($value) == 'map' {
      @each $bp, $val in $value {
        @if $bp != default {
          @include screen-above($bp) {
            --#{functions.$value-var-prefix}-#{$key}: #{$val};
          }
        }
      }
    }
  }
}

@mixin z-index-variables {
  @each $key, $value in common.$z-index-map {
    --#{functions.$z-index-var-prefix}-#{$key}: #{$value};
  }
}

@mixin if-dark {
  body > html {
    @content;
  }
}

@mixin if-rtl {
  :root[dir='rtl'] & {
    @content;
  }
}

@mixin if-ltr {
  :root[dir='ltr'] & {
    @content;
  }
}

@mixin if-prefers-reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin padding-start($size) {
  @include if-ltr {
    padding-left: $size;
  }
  @include if-rtl {
    padding-right: $size;
  }
}

@mixin padding-end($size) {
  @include if-ltr {
    padding-right: $size;
  }
  @include if-rtl {
    padding-left: $size;
  }
}

@mixin margin-start($size) {
  @include if-ltr {
    margin-left: $size;
  }
  @include if-rtl {
    margin-right: $size;
  }
}

@mixin margin-end($size) {
  @include if-ltr {
    margin-right: $size;
  }
  @include if-rtl {
    margin-left: $size;
  }
}

@mixin screen-below($breakpoint) {
  @media (max-width: #{map.get(common.$breakpoints, $breakpoint) - 1px}) {
    @content;
  }
}

@mixin screen-above($breakpoint) {
  @media (min-width: #{map.get(common.$breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin button-color-variation($color) {
  &.button-#{$color} {
    color: functions.app-color('button-' + $color + '-color');
    background-color: functions.app-color('button-' + $color + '-bg');
    --button-border-color: #{functions.app-color('button-' + $color + '-border-color')};
  }
}

@mixin badge-color-variation($color) {
  &.badge-#{$color} {
    color: functions.app-color('badge-' + $color + '-color');
    background-color: functions.app-color('badge-' + $color + '-bg');
    border-color: #{functions.app-color('badge-' + $color + '-bg')};
  }
}

@mixin combined-border-radius {
  &:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &:not(:first-child) {
    border-left: 0 !important;
  }

  &:not(:last-child) {
    border-right: 0 !important;
  }
}

@mixin combined-border-radius-inverted {
  &:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &:not(:first-child) {
    border-right: 0 !important;
  }

  &:not(:last-child) {
    border-left: 0 !important;
  }
}

@mixin content-link-style {
  a {
    color: functions.app-color('content-link');
    text-decoration: underline;
  }
}

@mixin base-font {
  //noinspection CssNoGenericFontName
  font-family: functions.app-value('font-family-base');
}

@mixin hide-spin-buttons {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & {
    -moz-appearance: textfield;
  }
}

@mixin monospace-font {
  //noinspection CssNoGenericFontName
  font-family: functions.app-value('font-family-mono');
}

@mixin heading-font-sizes {
  h2 {
    font-size: functions.app-value('content-heading-2');
  }
  h3 {
    font-size: functions.app-value('content-heading-3');
  }
  h4 {
    font-size: functions.app-value('content-heading-4');
  }
}

@mixin heading-margins {
  h2, h3, h4 {
    margin-bottom: functions.app-value('content-heading-margin-bottom');
  }
}

@mixin drop-shadow {
  filter: drop-shadow(0 0.0625em 0.0625em #{functions.app-color('drop-shadow')});
}
