parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$accessTokenResponseBody\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$expiresIn\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$refreshToken\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$token\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$user\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:setScopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Anonymous function should return non\-empty\-array\<string, mixed\> but returns non\-empty\-array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\CrowdinUser\>\:\:map\(\) expects callable\(App\\Models\\CrowdinUser, int\)\: non\-empty\-array\<string, mixed\>, Closure\(App\\Models\\CrowdinUser\)\: non\-empty\-array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Parameter \#3 \$options of static method Redis\:\:set\(\) expects array\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Discord/DiscordUserService.php

		-
			message: '#^Static method Redis\:\:set\(\) invoked with 4 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Services/Discord/DiscordUserService.php
