@use "../design";

.alert {
  display: flex;
  flex-flow: row nowrap;
  gap: design.app-value('alert-spacing');
  padding: design.app-value('alert-spacing');
  border-radius: design.app-value('alert-border-radius');
  background-color: design.app-color('alert-bg');
  color: design.app-color('alert-color');

  .alert-icon:empty {
    display: none;
  }

  .alert-content {
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 0.875rem;

    > :not(:last-child) {
      margin-bottom: design.app-value('alert-spacing');
    }
  }

  .alert-title {
    font-weight: bold;

    &:empty {
      display: none;
    }
  }

  .alert-text {
    &:empty {
      display: none;
    }

    @include design.content-link-style;
  }

  .alert-actions {
    &:empty {
      display: none;
    }
  }

  &.warning {
    color: design.app-color('alert-warning-color');
    background-color: design.app-color('alert-warning-bg');

    .alert-title, .alert-icon {
      color: design.app-color('alert-warning-hl-color');
    }
  }
}
