@use "../design";

.badge {
  color: design.app-color('badge-default-color');
  background-color: design.app-color('badge-default-bg');
  border-radius: design.app-value('badge-border-radius');
  overflow: hidden;
  font-weight: normal;
  border: design.app-value('badge-border') solid design.app-color('badge-default-bg');
  display: inline-flex;
  font-size: design.app-value('badge-font-size');

  > * {
    padding: 0 design.app-value('badge-spacing');
  }

  .badge-prefix, .badge-suffix {
    background-color: design.app-color('badge-secondary-bg');
  }

  .badge-prefix {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .badge-suffix {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  @include design.badge-color-variation('green');
  @include design.badge-color-variation('blue');
  @include design.badge-color-variation('cyan');
  @include design.badge-color-variation('purple');
  @include design.badge-color-variation('red');
  @include design.badge-color-variation('muted');

  code {
    @include design.monospace-font;
  }
}

.badge-group {
  display: flex;
  flex-flow: row wrap;
  gap: design.app-value('badge-grooup-spacing');

  &.compact {
    gap: calc(#{design.app-value('badge-grooup-spacing')} * 0.5);

    .badge {
      font-size: calc(#{design.app-value('badge-font-size')} * 0.75);
    }
  }
}
