@use "../design";

.tippy-box[data-theme~="bot-info-usage"] {
  .tippy-content {
    padding: design.app-value('bot-usage-graph-tooltip-padding') !important;
  }
}

.bot-usage-graph {
  min-width: 0;
  height: design.app-value('bot-usage-graph-height');
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  position: relative;

  .bot-usage-graph-no-data {
    font-style: italic;
    justify-content: center !important;
    align-items: center !important;
    pointer-events: initial !important;

    ~ * {
      // Fade out the following lines in case of no data
      opacity: .5;
    }
  }

  .bot-usage-graph-legend {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    pointer-events: none;
    user-select: none;

    .bot-usage-graph-legend-label {
      display: inline-block;
      text-align: center;
      padding: design.app-value('bot-usage-graph-tooltip-padding');
      @include design.drop-shadow;
    }
  }

  .bot-usage-graph-line {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100%;
    min-width: design.app-value('bot-usage-graph-line-min-width');
    background-color: design.app-color('bot-usage-graph-line-bg');
    flex-grow: 1;
    flex-shrink: 1;
  }

  .bot-usage-graph-line-fill {
    background-color: design.app-color('bot-usage-graph-line-color');
    width: 100%;
    height: calc((var(--value) / var(--highest-value)) * 100%);
    min-height: design.app-value('bot-usage-graph-line-min-width');
    box-sizing: border-box;
  }
}

.bot-usage-graph-tooltip-usage {
  font-size: design.app-value('bot-usage-graph-tooltip-usage-font-size');
  text-align: center;
}

.bot-usage-graph-tooltip-date {
  font-size: design.app-value('bot-usage-graph-tooltip-date-font-size');
  text-align: center;
}
