@use "../design";

.calendar-controls, .calendar {
  --gap: .25em;
  text-align: center;
  font-size: #{design.app-value('button-font-size')};
  user-select: none;
}

.calendar-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: .5em 0;
  gap: var(--gap);

  > .button-group {
    flex: 0 0 2em;
  }

  .calendar-context {
    flex: 1 1 100%;
    height: 100%;
    text-align: center;

    .short-context {
      display: inline;

      @include design.screen-above('md') {
        display: none;
      }
    }

    .long-context:not(:last-child) {
      display: none;

      @include design.screen-above('md') {
        display: inline;
      }
    }
  }

  @include design.if-ltr {
    .icon-rtl {
      display: none;
    }
  }

  @include design.if-rtl {
    .icon-ltr {
      display: none;
    }
  }
}

.calendar {
  display: grid;
  grid-template-rows: auto;
  gap: var(--gap);

  .calendar-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--column-count), calc((100% / var(--column-count)) - var(--gap)));
    --button-padding: .75em;

    &.calendar-weekdays, &.calendar-week {
      --gap: .25em;
      --column-count: 7;
      --button-size: 1em;
    }

    &.calendar-quarter,
    &.calendar-decade {
      --column-count: 3;
      --gap: 1em;
      --button-size: 2em;
      --button-padding: 1.25em;
    }
  }

  .red {
    color: light-dark(#c00, #faa);
  }

  .blue {
    color: light-dark(#0af, #adf);
  }

  .calendar-button-label, .calendar-grid-header {
    border-radius: .15em;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    position: relative;
    border: 1px solid transparent;
  }
   .calendar-grid-header {
    padding: var(--gap);
    white-space: nowrap;
    overflow: hidden;
  }

  .calendar-button-label {
    padding: var(--button-padding);

    &:has(input:focus) {
      z-index: design.app-z-index('focus');
    }

    &:has(input:focus-visible) {
      outline: design.app-value('focus-outline') solid;
    }

    &.hidden {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: hidden;
      outline: none !important;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      appearance: none;
      background-color: transparent;
      border: 0;
      color: transparent;
    }

    &.current {
      border-color: currentColor;
    }

    &.faded {
      opacity: .5;
    }

    &.selected {
      font-weight: bold;
      background-color: design.app-color('calendar-button-selected-bg');
    }
  }
}
