@use "../design";

.calendar-controls, .calendar {
  --gap: .25em;
  --column-count: 7;
  text-align: center;
  font-size: #{design.app-value('button-font-size')};
  user-select: none;
  --button-size: 1em;
}

.calendar-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: .5em 0;
  gap: var(--gap);

  > .button-group {
    flex: 0 0 2em;
  }

  .calendar-context {
    flex: 1 1 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.short-context {
      display: inline;
    }

    &.long-context {
      display: none;
    }

    @include design.screen-above('md') {
      &.short-context {
        display: none;
      }
      &.long-context {
        display: inline;
      }
    }
  }

  @include design.if-ltr {
    .icon-rtl {
      display: none;
    }
  }

  @include design.if-rtl {
    .icon-ltr {
      display: none;
    }
  }
}

.calendar {
  display: grid;
  grid-template-rows: auto;
  gap: var(--gap);

  .calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(var(--column-count), calc(100% / var(--column-count)));
  }

  .calendar-week {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--column-count), calc((100% / var(--column-count)) - var(--gap)));
  }

  .red {
    color: light-dark(#c00, #faa);
  }

  .blue {
    color: light-dark(#0af, #adf);
  }

  .calendar-weekdays > * {
    padding: var(--gap);
    white-space: nowrap;
    overflow: hidden;
  }

  .calendar-day {
    padding: .75em;
    border: 1px solid transparent;
    border-radius: .15em;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    position: relative;

    &:focus {
      z-index: design.app-z-index('focus');
    }

    &:focus-visible {
      outline: design.app-value('focus-outline') solid;
    }

    &.current {
      border-color: currentColor;
    }

    &.different-month {
      opacity: .5;
    }

    &.selected {
      font-weight: bold;
      background-color: design.app-color('calendar-day-selected-bg');
    }
  }
}
