@use "../design";

.card-forms {
  display: flex;
  flex-flow: row wrap;
  gap: design.app-value('card-padding');
  justify-content: flex-start;

  .card-forms-section {
    flex: 0 1 100%;

    @include design.screen-above('xl') {
      flex-basis: calc(50% - (#{design.app-value('card-padding')} / 2));
    }
  }
}
