@use "../design";

.copyable-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  > * {
    display: flex;
    border-radius: design.app-value('button-border-radius');

    @include design.if-ltr {
      @include design.combined-border-radius;
    }
    @include design.if-rtl {
      @include design.combined-border-radius-inverted;
    }

    > .button {
      border-radius: inherit !important;
    }
  }

  .copyable-text-data {
    user-select: all;
  }
}
