@use "sass:math";
@use "sass:color";
@use "../design";

.form-control-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: design.app-value('form-control-spacing');
  margin-bottom: design.app-value('form-control-spacing');

  &.vertical {
    flex-flow: column nowrap;
  }
}

.form-control-wrap {
  display: block;
  flex: 1 1 auto;

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.form-control {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: design.app-value('form-control-spacing');

  &.form-control-buttons {
    flex-direction: row;
  }
}

.form-control-checkbox {
  display: block;

  .form-checkbox-input-wrap {
    position: relative;
    display: inline-block;
    width: design.app-value('form-checkbox-width');
    height: design.app-value('form-checkbox-height');
    border: design.app-value('form-checkbox-border') solid design.app-color('input-field-border-color');
    background-color: design.app-color('input-field-bg');
    border-radius: design.app-value('form-checkbox-border-radius');
    vertical-align: text-top;

    &:focus {
      z-index: design.app-z-index('focus');
      border-color: design.app-color('input-field-focus-border-color');
    }

    &:focus-visible {
      outline: design.app-value('focus-outline') solid design.app-color('input-field-focus-border-color');
    }

    @include design.if-ltr {
      margin-right: design.app-value('form-control-spacing');
    }
    @include design.if-rtl {
      margin-left: design.app-value('form-control-spacing');
    }

    .form-checkbox-check-icon,
    .form-checkbox-input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .form-checkbox-input {
      border: 0;
      background: transparent;
      box-sizing: border-box;
    }

    .form-checkbox-check-icon {
      text-align: center;
      transform: translate(-0.1em, 0.05em);
      opacity: 0;
      color: design.app-color('input-field-color');
      transition: opacity .1s linear;
      font-size: .8em;
      pointer-events: none;
    }

    .form-checkbox-input:checked + .form-checkbox-check-icon {
      opacity: 1;
    }
  }

  .form-checkbox-label {
    cursor: default;
  }
}

.form-control-radio {
  display: block;

  .form-radio-input-wrap {
    position: relative;
    display: inline-block;
    width: design.app-value('form-checkbox-width');
    height: design.app-value('form-checkbox-height');
    vertical-align: text-top;

    &:focus {
      z-index: design.app-z-index('focus');
      border-color: design.app-color('input-field-focus-border-color');
    }

    &:focus-visible {
      outline: design.app-value('focus-outline') solid design.app-color('input-field-focus-border-color');
    }

    @include design.if-ltr {
      margin-right: design.app-value('form-control-spacing');
    }
    @include design.if-rtl {
      margin-left: design.app-value('form-control-spacing');
    }

    .form-radio-input,
    .form-radio-select-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
    }

    .form-radio-select-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    .form-radio-input {
      border: 0;
      border: design.app-value('form-checkbox-border') solid design.app-color('input-field-border-color');
      background-color: design.app-color('input-field-bg');
      border-radius: 50%;

      &:focus {
        border-color: design.app-color('input-field-focus-border-color');
      }

      &:focus-visible {
        outline: design.app-value('focus-outline') solid design.app-color('input-field-focus-border-color');
      }
    }

    .form-radio-select-icon {
      opacity: 0;
      background-color: design.app-color('input-field-color');
      transition: opacity .1s linear;
      display: block;
      width: design.app-value('form-radio-select-icon');
      height: design.app-value('form-radio-select-icon');
      margin: calc((100% - #{design.app-value('form-radio-select-icon')}) * 0.5);
      pointer-events: none;
    }

    .form-radio-input:checked + .form-radio-select-icon {
      opacity: 1;
    }
  }

  .form-radio-label {
    cursor: default;
  }
}

.form-control-select {
  display: inline-block;
  position: relative;

  > .form-select-input {
    --padding-value: calc(#{design.app-value('input-field-padding')} * 2 + #{design.app-value('form-select-icon-padding')} * 2 + #{design.app-value('form-select-icon-size')});
    @include design.if-ltr {
      padding-right: var(--padding-value);
    }
    @include design.if-rtl {
      padding-left: var(--padding-value);
    }
  }

  .form-select-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 design.app-value('form-select-icon-padding');
    font-size: design.app-value('form-select-icon-size');

    &:not(.clickable) {
      pointer-events: none;
    }

    @include design.if-ltr {
      right: 0;
    }

    @include design.if-rtl {
      left: 0;
    }
  }
}

.form-control-wrap.combo-box, .form-control-combobox {
  z-index: unset;
}

.form-control-combobox.suggestions-open.has-suggestions > .form-select-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control-combobox:not(.allow-typing) > .form-select-input {
  user-select: none;
  cursor: default;
}

.combobox-suggestions {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: design.app-value('input-field-border') solid design.app-color('input-field-border-color');
  color: design.app-color('input-field-color');
  background-color: design.app-color('input-field-bg');
  border-bottom-left-radius: design.app-value('input-field-border-radius');
  border-bottom-right-radius: design.app-value('input-field-border-radius');
  box-sizing: border-box;
  z-index: design.app-z-index('combobox-suggestions');
  margin-top: calc(-1 * #{design.app-value('input-field-border')});

  .combobox-suggestion-item {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: design.app-value('input-field-padding');
    gap: design.app-value('input-field-padding');
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    order: 2;

    &:has(mark) {
      order: 1;
    }

    mark {
      font-weight: bold;
    }

    .combobox-suggestion-item-label {
      display: flex;
      flex-flow: row nowrap;
      gap: inherit;

      .combobox-suggestion-item-text {
        flex: 1 1 100%;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .combobox-suggestion-item-addon {
        flex: 0 1 60%;
        font-variant: tabular-nums;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include design.if-ltr {
          text-align: right;
        }
        @include design.if-rtl {
          text-align: left;
        }
      }
    }

    &:hover {
      .combobox-suggestion-item-addon {
        // Take the element out of the flex layout while visually hiding it to allow the text to become full-width
        position: absolute;
        top: 0;
        font-size: .65em;
        padding: .2em .4em;

        @include design.if-ltr {
          right: 0;
        }
        @include design.if-rtl {
          left: 0;
        }
      }
    }

    &.selected {
      color: design.app-color('button-primary-color');
      background-color: design.app-color('button-primary-bg');

      &.highlighted, &:hover {
        background-color: design.app-color('combobox-highlighted-item-bg');
      }
    }

    &.highlighted {
      color: design.app-color('button-default-color');
      background-color: design.app-color('button-default-bg');
    }
  }
}

.form-input-group {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: design.app-value('form-control-spacing');

  > .input-field {
    min-width: 0;
    flex-grow: 1;
  }

  &:not([dir="rtl"]) > .input-field {
    @include design.combined-border-radius;
  }

  &[dir="rtl"] > .input-field {
    @include design.combined-border-radius-inverted;
  }
}

.form-message {
  display: block;
  font-size: 0.9em;

  &.error {
    color: #faa;
  }

  &.success {
    color: #afa;
  }
}

.from-control-submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: design.app-value('form-control-spacing');

  .form-message {
    margin-top: 0;
  }
}
