@forward 'add-app-links';
@forward 'alert';
@forward 'avatar';
@forward 'badge';
@forward 'bot-info';
@forward 'bot-shards';
@forward 'bot-usage-graph';
@forward 'button';
@forward 'calendar';
@forward 'card';
@forward 'code-span';
@forward 'collapsible';
@forward 'connected-accounts-section';
@forward 'content';
@forward 'copyable-text';
@forward 'credits';
@forward 'date-time-picker';
@forward 'design-editor';
@forward 'forms';
@forward 'header';
@forward 'input-field';
@forward 'language-selector';
@forward 'legal';
@forward 'loading-indicator';
@forward 'nav';
@forward 'popup';
@forward 'progress';
@forward 'sidebar';
@forward 'table';
@forward 'time-dial';
@forward 'time-sync';
@forward 'timestamp-table';
@forward 'useful-links';
@forward 'user-info';
@forward 'user-menu';
