@use "../design";

.input-field {
  display: block;
  border: design.app-value('input-field-border') solid design.app-color('input-field-border-color');
  border-radius: design.app-value('input-field-border-radius');
  box-shadow: inset 0 design.app-value('input-field-box-shadow-inset-y') design.app-value('input-field-box-shadow') design.app-color('input-field-box-shadow');

  body.flat-ui & {
    box-shadow: none !important;
  }

  &:not([type="color"]) {
    color: design.app-color('input-field-color');
    background-color: design.app-color('input-field-bg');
    padding: design.app-value('input-field-padding');

    &:invalid {
      color: design.app-color('input-field-invalid-color');
      background-color: design.app-color('input-field-invalid-bg');
    }
  }

  &[type="color"] {
    &::-moz-color-swatch {
      border: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
      border-radius: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  &:focus {
    z-index: design.app-z-index('focus');
    border-color: design.app-color('input-field-focus-border-color');
  }

  &:focus-visible {
    outline: design.app-value('focus-outline') solid design.app-color('input-field-focus-border-color');

    &:invalid {
      outline: design.app-value('focus-outline') solid design.app-color('input-field-invalid-focus-border-color');
    }
  }

  &.hide-selection {
    caret-color: transparent;

    &::selection {
      background-color: transparent;
    }
  }

  &[disabled] {
    opacity: .6;
  }
}
