@use "../design";

.language-selector {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: design.app-value('content-spacing');
}

.language-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: design.app-value('language-selector-spacing');
  margin-bottom: design.app-value('language-selector-spacing');

  .language-name {
    font-weight: bold;
    font-size: 1.25em;
  }

}

.language-flag {
  font-size: 1em;
  width: 2.5em;
  height: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;

  .flag {
    display: block;
    font-size: 1em !important;
    transform: scale(.75) !important;
  }
}

.language-progress {
  color: design.app-color('translation-contribution-cta');
}

.language-controls {
  display: flex;
  flex-flow: row nowrap;
  gap: design.app-value('language-selector-spacing');

  .change-language-button,
  .contribute-button {
    white-space: nowrap;
  }

  .change-language-button-wrap {
    flex: 1 0 45%;
  }

  .contribute-button {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.language-list {
  width: 300px;
  max-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  .language-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: design.app-value('language-selector-spacing');
  }
}
