@use "../design";


.nav {
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: design.app-value('nav-spacing');

  .nav-link {
    padding: design.app-value('nav-link-padding-vertical') design.app-value('nav-link-padding-horizontal');
    border-radius: design.app-value('nav-link-border-radius');
    text-decoration: none;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    transition-property: color, background-color, opacity;
    transition-duration: .05s;
    transition-timing-function: ease-in;

    &:hover, &:focus {
      color: design.app-color('button-default-color');
      background-color: design.app-color('button-default-bg');
      opacity: 1 !important;
    }

    &.current {
      color: design.app-color('button-primary-color');
      background-color: design.app-color('button-primary-bg');
      opacity: .8;
    }
  }
}
