@use "../design";


.nav {
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: design.app-value('nav-spacing');

  .nav-link {
    padding: design.app-value('nav-link-padding-vertical') design.app-value('nav-link-padding-horizontal');
    border-radius: design.app-value('nav-link-border-radius');
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .05s ease-in;

    &:hover, &:focus {
      color: design.app-color('button-default-color');
      background-color: design.app-color('button-default-bg');
    }
  }
}
