@use "../design";

@include design.screen-below('md') {
  body:has(.popup[open]) {
    overflow: hidden;
  }
}

.popup {
  position: absolute;
  max-width: 400px;
  width: 100%;
  background-color: design.app-color('card-bg');
  color: design.app-color('card-color');
  border: design.app-value('popup-border') solid design.app-color('popup-border-color');
  border-radius: design.app-value('card-border-radius');
  box-shadow: 0 0 design.app-value('popup-box-shadow') design.app-color('popup-border-color');
  padding: design.app-value('content-spacing');
  z-index: 3;

  @include design.screen-above('md') {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    margin: 0;
    overflow: hidden;

    &.allow-overflow {
      overflow: visible;
    }

    @supports (position-anchor: --test) {
      transform: none;

      &.has-anchor {
        top: anchor(bottom) !important;
        left: anchor(left) !important;
      }
    }
  }

  &.wide {
    width: 100%;
    max-width: 40em;
  }

  &.visible {
    display: block !important;
  }

  &::backdrop {
    backdrop-filter: blur(3px);
  }
}
