@use "../design";

.progress {
  display: block;
  width: 100%;
  height: design.app-value('progress-bar-height');
  border-radius: calc(#{design.app-value('progress-bar-height')} * 0.5);
  background-color: design.app-color('button-default-bg');
  border: 1px solid design.app-color('button-default-border-color');

  .progress-bar {
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
  }
}
